<% include ../partials/header.ejs %>


<h2><%= game.name %></h2>
<p><%= game.description %></p>
<p> Max Players: <%= game.players %></p>
<a id="back-link" href="/games/">BACK TO GAMES</a>

<% include ../partials/footer.ejs %>